<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Access Denied</title>
    <div th:replace="~{/csrf-fragment.html}"></div>
  </head>
  <body>
    <h1>Access Denied</h1>
    <p>You don't have permission to access this resource.</p>
    <div th:replace="~{/csrf2.html}"></div>
    <div sec:authorize="!hasRole('')">
      <p>Access denied! Please log in to access this resource.</p>
    </div>

    <!-- <h5><a th:href="@{/M/logout}">LOGOUT</a></h5> -->
    <!-- <h5><a th:href="@{/showStudent}">BACK</a></h5> -->
  </body>
</html>
