<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Customer List</title>
    <div th:replace="~{/csrf-fragment.html}"></div>
  </head>
  <body>
    <h1>Customer List</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Age</th>
          <th>num</th>
          <!-- Add more columns as needed -->
        </tr>
      </thead>
      <a th:href="@{/customers/add}">Add Customer</a>
      <tbody>
        <!-- Loop through the list of customers and display their information -->
        <tr th:each="customer : ${customers}">
          <td th:text="${customer.id}"></td>
          <td th:text="${customer.name}"></td>
          <td th:text="${customer.email}"></td>
          <td th:text="${customer.age}"></td>
          <td th:text="${customer.num}"></td>
          <td>
            <a th:href="@{/customers/update/{id}(id=*{customer.id})}">Update</a>
            <a th:href="@{/customers/delete/{id}(id=*{customer.id})}">Delete</a>
          </td>
          <!-- Add more columns as needed -->
        </tr>
      </tbody>
    </table>
  </body>
</html>
