<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Update Customer</title>
    <div th:replace="~{/csrf-fragment.html}"></div>
  </head>
  <body>
    <h1>Update Customer</h1>
    <form
      th:action="@{/customers/update/{id}(id=${customer.id})}"
      method="post"
      th:object="${customer}"
    >
      <input type="text" name="id" th:field="*{id}" hidden />
      <label>Name:</label>
      <input type="text" th:field="*{name}" required /><br />
      <label>Email:</label>
      <input type="email" th:field="*{email}" required /><br />
      <label>Age:</label>
      <input type="number" th:field="*{age}" required /><br />
      <label>Num:</label>
      <input type="number" th:field="*{num}" required /><br />
      <div th:replace="~{/csrf2.html}"></div>

      <button type="submit">Update</button>
    </form>
  </body>
</html>
